
@{
    ViewBag.Title = "ListarPorCategoria";
}

<h2>ListarPorCategoria</h2>

@using (Ajax.BeginForm("ListarPorCategoria", new AjaxOptions
{
    UpdateTargetId = "resultado"
}))
{
    @Html.DropDownList("CategoryID", ViewBag.CategoryID as SelectList)
}
<div id="resultado">
</div>


