
@{
    ViewBag.Title = "MostrarProduto";
}

<h2>MostrarProduto</h2>

@using (Ajax.BeginForm("BuscarProduto", new AjaxOptions
{
    UpdateTargetId = "resultado"
}))
{
    @Html.TextBox("query", null, new { size = 40 })
    <input type="submit" />
}
<div id="resultado"></div>

